node_modules
.mongo_database
passwords
inventory*.ini
traefik/acme.json
deploy_key*
*.env
*.retry

/design-system
/lib-vue
/api
/dashboard
/driver
/user

# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources*
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws
