MONGODB=mongodb://mongo/e-chauffeur
API_URL=http://{{ api_url }}
USERWEBSITEURL={{user_url}}
SATISFACTIONQUESTIONNAIREURL={{satisfaction_questionnaire_url}}
TWILIO__SID={{twilio_sid}}
TWILIO__TOKEN={{twilio_token}}
TWILIO__MESSAGINGSERVICESID={{twilio_messagingServiceSid}}
