MONGODB=mongodb://mongo/e-chauffeur
TOKEN__DURATION=36000
TOKEN__SECRET={{lookup('password', 'passwords length=32')}}
API_URL=https://{{ api_url }}
USER_WEBSITE_URL={{user_website}}
SATISFACTION_QUESTIONNAIRE_URL={{satisfaction_questionnaire_url}}
TWILIO__SID={{twilio_sid}}
TWILIO__TOKEN={{twilio_token}}
TWILIO__MESSAGING_SERVICE_SID={{twilio_messagingServiceSid}}
MAIL__TRANSPORTER__HOST={{mail_host}}
MAIL__TRANSPORTER__PORT={{mail_port}}
MAIL__TRANSPORTER__AUTH__USER={{mail_user}}
MAIL__TRANSPORTER__AUTH__PASS={{mail_password}}
MAIL__DEFAULT_FROM={{mail_from}}
MAIL__FEEDBACK_MAIL={{mail_feedback}}
MAIL__CONTACT_MAIL={{mail_feedback}}
MAIL__HTML=<p>:message</p>
MAIL__TEXT=:message
MAIL__SUBJECT=Message de :firstname :lastname (:email).
REDIRECT_TARGET={{user_url}}
