MONGODB=mongodb://mongo/e-chauffeur
API_URL=http://{{ api_url }}
USER_WEBSITE_URL={{user_url}}
SATISFACTION_QUESTIONNAIRE_URL={{satisfaction_questionnaire_url}}
TWILIO__SID={{twilio_sid}}
TWILIO__TOKEN={{twilio_token}}
TWILIO__MESSAGING_SERVICE_SID={{twilio_messagingServiceSid}}
